@media screen and (min-width:0px) and (max-width:480px) {
    .footer{
        padding: 2rem;
        margin-top: 5rem;
    }
    
    .foot-container{
        display: block;
    }
    
    .foot-logo{
        flex-basis: 10%;
        margin-top: 2rem;
    }
    
    .foot-logo img{
        width: 15%;
    }
    
    
    .foot-news{
        flex-basis: 40%;
        margin: auto 0;
    }
    
    .fn-container {
        display: flex;
        justify-content: space-between;
        background-color: hsl(var(--hue-color), 4%, 10%);
        padding: 1rem;
    }

    .foot-product,
    .foot-support{
        margin: 2rem 0;
    }
    
    .foot-product h4,
    .foot-support h4{
        font-weight: 900;
        line-height: 1;
        margin: 0;
    }

    .foot-product p,
    .foot-support p{
        font-weight: 200;
        font-size: 0.85rem;
        line-height: 1;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .footer{
        padding: 2rem;
        margin-top: 5rem;
    }
    
    .foot-container{
        display: flex;
        justify-content: space-between;
    }
    
    .foot-logo{
        flex-basis: 10%;
        margin-top: 2rem;
    }
    
    .foot-logo img{
        width: 40%;
    }
    
    .foot-product,
    .foot-support {
        flex-basis: 20%;
    }
    
    .foot-news{
        flex-basis: 40%;
        margin: auto 0;
    }
    
    .fn-container {
        display: flex;
        justify-content: space-between;
        background-color: hsl(var(--hue-color), 4%, 10%);
        padding: 1rem;
    }
    
    .foot-product h4,
    .foot-support h4{
        font-weight: 900;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {
    .footer{
        padding: 2rem;
        margin-top: 5rem;
    }
    
    .foot-container{
        display: flex;
        justify-content: space-between;
    }
    
    .foot-logo{
        flex-basis: 10%;
        margin-top: 2rem;
    }
    
    .foot-logo img{
        width: 40%;
    }
    
    .foot-product,
    .foot-support {
        flex-basis: 20%;
    }
    
    .foot-news{
        flex-basis: 40%;
        margin: auto 0;
    }
    
    .fn-container {
        display: flex;
        justify-content: space-between;
        background-color: hsl(var(--hue-color), 4%, 10%);
        padding: 1rem;
    }
    
    .foot-product h4,
    .foot-support h4{
        font-weight: 900;
        font-size: 1.4rem;
    }
}

@media screen and (min-width:1024px) {
    .footer{
        padding: 2rem;
        margin-top: 5rem;
    }
    
    .foot-container{
        display: flex;
        justify-content: space-between;
    }
    
    .foot-logo{
        flex-basis: 10%;
        margin-top: 2rem;
    }
    
    .foot-logo img{
        width: 40%;
    }
    
    .foot-product,
    .foot-support {
        flex-basis: 20%;
    }
    
    .foot-news{
        flex-basis: 40%;
        margin: auto 0;
    }
    
    .fn-container {
        display: flex;
        justify-content: space-between;
        background-color: hsl(var(--hue-color), 4%, 10%);
        padding: 1rem;
    }
    
    .foot-product h4,
    .foot-support h4{
        font-weight: 900;
    }
}

