@media screen and (min-width:0px) and (max-width:480px) {
    .home{
        margin-bottom: 10rem;
    }
    
    .home-container {
        display: flex;
        justify-content: space-between;
    }

    .home-image {
        flex-basis: 50%;
    }

    .home-image img {
        width: 50%;
        height: 80%;
        align-items: flex-end;
    }
    
    .home-img{
        position: absolute;
        top: -10rem;
        left: 0rem;
    }
    
    .home-data {
        flex-basis: 45%;
        text-align: start;
        padding-top: 3rem;
        padding-left: 1rem;
    }  

    .home-title {
        position: relative;
        top: 0rem;
        left: 1rem;
        line-height: 3.5rem;
        font-size: var(--biggest-font-size);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 0;
    }

    .home-subtitle {
        font-size: var(--big-font-size);
        margin: 0;
        margin-bottom: var(--mb-2);
    }
      
    .home-title-description {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
      
    .home-description {
        margin-bottom: var(--mb-2-5);
        line-height: var(--text-line-height);
        width: 100%;
        font-size: medium;
    }

    .button {
        display: inline-block;
        background-color: var(--black-color);
        color: var(--white-color);
        padding: 1rem 1.25rem;
        border-radius: .5rem;
        transition: .3s;
    }
      
    .button:hover {
        background-color: var(--black-color-alt);
    }
      
    .button-icon {
        font-size: 1.2rem;
    }
      
    .button--flex {
        display: inline-flex;
        align-items: center;
        column-gap: .75rem;
    }

    .home-footer a {
        text-decoration: none;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .home{
        margin-bottom: 10rem;
    }
    
    .home-container {
        display: flex;
        justify-content: space-between;
    }

    .home-image {
        flex-basis: 50%;
    }

    .home-image img {
        width: 35%;
        height: 70%;
        align-items: flex-end;
    }
    
    .home-img{
        position: absolute;
        top: -10rem;
        left: 4.5rem;
    }
    
    .home-data {
        flex-basis: 50%;
        text-align: start;
        padding-top: 3rem;
        padding-left: 1.5rem;
    }  

    .home-title {
        position: relative;
        top: 0rem;
        left: 1rem;
        line-height: 3.5rem;
        font-size: var(--biggest-font-size);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 0;
    }

    .home-subtitle {
        font-size: var(--big-font-size);
        margin: 0;
        margin-bottom: var(--mb-2);
    }
      
    .home-title-description {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
      
    .home-description {
        margin-bottom: var(--mb-2-5);
        line-height: var(--text-line-height);
        width: 90%;
    }

    .button {
        display: inline-block;
        background-color: var(--black-color);
        color: var(--white-color);
        padding: 1rem 1.25rem;
        border-radius: .5rem;
        transition: .3s;
    }
      
    .button:hover {
        background-color: var(--black-color-alt);
    }
      
    .button-icon {
        font-size: 1.2rem;
    }
      
    .button--flex {
        display: inline-flex;
        align-items: center;
        column-gap: .75rem;
    }

    .home-footer a {
        text-decoration: none;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {
    .home-container {
        display: flex;
        justify-content: space-between;
    }

    .home-image {
        flex-basis: 50%;
    }

    .home-image img {
        width: 35%;
        height: 70%;
        align-items: flex-end;
    }
    
    .home-img{
        position: absolute;
        top: -10rem;
        left: 5.5rem;
    }
    
    .home-data {
        flex-basis: 50%;
        text-align: start;
        padding-top: 6rem;
        padding-left: 2rem;
    }  

    .home-title {
        position: relative;
        top: 0rem;
        left: 1rem;
        line-height: 3.5rem;
        font-size: var(--biggest-font-size);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 0;
    }

    .home-subtitle {
        font-size: var(--big-font-size);
        margin: 0;
        margin-bottom: var(--mb-2);
    }
      
    .home-title-description {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
      
    .home-description {
        margin-bottom: var(--mb-2-5);
        line-height: var(--text-line-height);
        width: 90%;
    }

    .button {
        display: inline-block;
        background-color: var(--black-color);
        color: var(--white-color);
        padding: 1.5rem 1.5rem;
        border-radius: .5rem;
        transition: .3s;
    }
      
    .button:hover {
        background-color: var(--black-color-alt);
    }
      
    .button-icon {
        font-size: 1.2rem;
    }
      
    .button--flex {
        display: inline-flex;
        align-items: center;
        column-gap: .75rem;
    }

    .home-footer a {
        text-decoration: none;
    }
}

@media screen and (min-width:1024px) {
    .home-container {
        display: flex;
        justify-content: space-between;
    }

    .home-image {
        flex-basis: 50%;
    }

    .home-image img {
        width: 30%;
        height: 100%; 
        align-items: flex-end;
    }
    
    .home-img{
        position: absolute;
        top: -10rem;
        left: 10rem;
    }
    
    .home-data {
        flex-basis: 50%;
        text-align: start;
        padding-top: 7rem;
        padding-left: 2rem;
    }  

    .home-title {
        position: relative;
        top: 0rem;
        left: 1rem;
        line-height: 3.5rem;
        font-size: var(--biggest-font-size);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 0;
    }

    .home-subtitle {
        font-size: var(--big-font-size);
        margin: 0;
        margin-bottom: var(--mb-2-5);
    }
      
    .home-title-description {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
      
    .home-description {
        margin-bottom: var(--mb-2-5);
        line-height: var(--text-line-height);
        width: 90%;
        font-size: x-large;
    }

    .button {
        display: inline-block;
        background-color: var(--black-color);
        color: var(--white-color);
        padding: 1rem 1.25rem;
        border-radius: .5rem;
        transition: .3s;
    }
      
    .button:hover {
        background-color: var(--black-color-alt);
    }
      
    .button-icon {
        font-size: 1.2rem;
    }
      
    .button--flex {
        display: inline-flex;
        align-items: center;
        column-gap: .75rem;
    }

    .home-footer a {
        text-decoration: none;
    }
}

  